/* Configurações Globais */

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #0c0c0c;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    background: var(--color-white);
}

body {
    font-family: 'Gabarito', cursive;
}

/* Fim das Configurações Globais */

/* Header */

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    background: 'transparent';
    transition: all .3s ease-out;
    z-index: 2;
}

.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: var(--color-black);
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover {
    opacity: .8;
}

.navbar {
    max-width: 350px;
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.navbar-links li {
    list-style: none;
    transition: all .2s ease-in-out;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 700;
    transition: opacity .3s ease;
}

.navbar-links li a:hover {
    opacity: .8;
}

.menu-hamburguer {
    display: none;
}

    /* small screen - menu hamburguer */

    @media (max-width: 560px) {
        .navbar {
            display: flex;
            justify-content: end;
        }

        .navbar-links {
            display: flex;
            flex-direction: column;

            width: 50%;
            height: 100vh;

            padding: 20px;

            position: fixed;
            right: 0;
            top: 0;
            background: #d3d2d2;
            clip-path: circle(100px at 90% -20%);

            pointer-events: none;
            transition: .6s ease-out;
        }

        .menu-hamburguer {
            display: block;

            padding: 0;
            margin-bottom: .4rem;
            border: none;
            border-top: 3px solid var(--color-black);

            background: transparent;
            transition: all .3s ease-in-out;

            z-index: 1;
        }

        .menu-hamburguer:hover {
            opacity: .8;
            cursor: pointer;
        }

        .menu-hamburguer::before,
        .menu-hamburguer::after {
            content: "";
            display: block;
            width: 25px;
            height: 3px;

            margin-top: .6rem;

            background: var(--color-black);
        }

        /* menu hamburguer ATIVO */

        .navbar.active .navbar-links {
            clip-path: circle(1400px at 90% -18%);
            pointer-events: all;
        }

        .navbar.active .menu-hamburguer {
            border-top-color: transparent;
        }

        .navbar.active .menu-hamburguer::before {
            transition: all .2s ease-in-out;
            transform: rotate(-45deg) translate(-2px, -1px);
        }

        .navbar.active .menu-hamburguer::after {
            transition: all .2s ease-in-out;
            transform: rotate(45deg) translate(-7px, -5px);
        }
    }

        /* large screen to 4k screen - header */

        @media (min-width: 1840px) {
            .header-title h1 {
                font-size: calc(1vw + .8rem);
            }
            
            .navbar {
                max-width: 25vw;
            }
            
            .navbar-links li {
                margin: 1rem;
            }
            
            .navbar-links li a {
                font-size: calc(1vw + .3rem);
            }
        }
    
/* Fim do Header */

/* News */
 
#news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
    
.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border: solid 2px #0c0c0c;
    border-style: solid none;
}
    
.title-content h1 {
    font-size: 3.5rem;
}
    
.title-subtitle {
    margin-top: 15px;
}
    
.title-subtitle h3 {
    font-size: 1.5rem;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px;
}

.img-container img {
    max-width: 500px;
    width: 100%;
    border-radius: .8rem;
}

.news-text {
    font-size: 2rem;
}
    
/* Final do News */

/* Footer */
    
#footer {
    height: auto;
    width: 100%;    
    padding: calc(3vw + 1rem) 0vw;       
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: #f1f1f1;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-black);
}

.container-footer h2 {
    font-size: 1.7rem;
}

.container-footer h3 {
    font-size: 1.2rem;
}

    /* large to 4k screen - footer */
    
    @media (min-width: 1840px) {
        .container-footer h2 {
            font-size: calc(1vw + .2rem);
        }

        .container-footer h3 {
            font-size: .8vw;
        }
    }

/* Final do Footer */
