/* Configurações Globais */

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #0c0c0c;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    background: var(--color-white);
}

body {
    font-family: 'Gabarito', cursive;
}

/* Fim das Configurações Globais */

/* Header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    position: fixed;
    background: 'transparent';
    transition: all .3s ease-out;
    z-index: 2;
}

.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: var(--color-black);
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover {
    opacity: .8;
}

.navbar {
    max-width: 350px;
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.navbar-links li {
    list-style: none;
    transition: all .2s ease-in-out;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 700;
    transition: opacity .3s ease;
}

.navbar-links li a:hover {
    opacity: .8;
}

.menu-hamburguer {
    display: none;
}

    /* small screen - menu hamburguer */

    @media (max-width: 560px) {
        .navbar {
            display: flex;
            justify-content: end;
        }

        .navbar-links {
            display: flex;
            flex-direction: column;

            width: 50%;
            height: 100vh;

            padding: 20px;

            position: fixed;
            right: 0;
            top: 0;
            background: #d3d2d2;
            clip-path: circle(100px at 90% -20%);

            pointer-events: none;
            transition: .6s ease-out;
        }

        .menu-hamburguer {
            display: block;

            padding: 0;
            margin-bottom: .4rem;
            border: none;
            border-top: 3px solid var(--color-black);

            background: transparent;
            transition: all .3s ease-in-out;

            z-index: 1;
        }

        .menu-hamburguer:hover {
            opacity: .8;
            cursor: pointer;
        }

        .menu-hamburguer::before,
        .menu-hamburguer::after {
            content: "";
            display: block;
            width: 25px;
            height: 3px;

            margin-top: .6rem;

            background: var(--color-black);
        }

        /* menu hamburguer ATIVO */

        .navbar.active .navbar-links {
            clip-path: circle(1400px at 90% -18%);
            pointer-events: all;
        }

        .navbar.active .menu-hamburguer {
            border-top-color: transparent;
        }

        .navbar.active .menu-hamburguer::before {
            transition: all .2s ease-in-out;
            transform: rotate(-45deg) translate(-2px, -1px);
        }

        .navbar.active .menu-hamburguer::after {
            transition: all .2s ease-in-out;
            transform: rotate(45deg) translate(-7px, -5px);
        }
    }

    /* large screen to 4k screen - header */

    @media (min-width: 1840px) {
        .header-title h1 {
            font-size: calc(1vw + .8rem);
        }

        .navbar {
            max-width: 25vw;
        }

        .navbar-links li {
            margin: 1rem;
        }

        .navbar-links li a {
            font-size: calc(1vw + .3rem);
        }
    }

/* Fim do Header */

/* News */

#news {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.news-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    position: relative;
}

.news-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #7a7a7a;
    border-radius: 5px;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}

.news-img {
    max-width: 450px;
    width: 100%;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(to top, transparent 1%, black 100%);
    object-fit: cover;
    transition: transform .3s ease;
}

.news-img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.news-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.news-text h3 {
    position: absolute;
    margin-bottom: 1.5rem;
    color: var(--color-white);
    font-size: 1.6rem;
}

/* Fim do News */

/* Tech News */

#tech-news {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

/* Fim do Tech News */